<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Reviews</title>
  </head>
  <body>
    <a href="{% url 'books:index' %}">Home</a>
    <a href="{% url 'books:logout' %}">Logout</a>
    <a href="{% url 'books:show_review' %}">Add Book and Review</a>
    <h1>User reviews</h1>
      <p>User: {{user_info.first_name}} {{user_info.last_name}}</p>
      <p>Email: {{user_info.email}}</p>
    <p>Reviews: {{review_info}}</p>
    <p>List of books</p>
    {% for books in book_info %}
      <p><a href="{% url 'books:show_book_again' title=books %}">{{books}}</a></p>
    {% endfor %}
  </body>
</html>
